__pycache__/
Test_results_CNN_he_norm.png
model_weights.hdf5
embeddings_weights.h5
embedding_weights.csv
Classic_Machine_learning_results.txt
#image_list.csv
scrapCode.py
earlyFusionCoco.py
test.py
test_file.py
#Ignore weights directory
early_fusion_weights/
late_fusion_weights/
model_fusion_weights/
unimodal_weights/

